<form action="/" method="post">
    <label for="name"><input type="text" name="name" placeholder="name"></label>
    <label for="age"><input type="number" name="age" placeholder="age"></label>
    <label for="occupation"><input type="text" name="occupation" placeholder="occupation"></label>
    <label for="about"><textarea type="text" rows="8" cols="60" name="about" placeholder="about"></textarea></label>
    <button type="submit">send</button>  
</form>